* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e;
}
.item {
    color: white
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 2px solid #222;
    padding: 25px;
    margin: 10px 0;
    text-align: left;
    border-radius: 30px;
    cursor: pointer;
    user-select: auto;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}